# Android Studio
.idea/
*.iml
.gradle
local.properties
.DS_Store

# Build
/build/
.cxx/
.externalNativeBuild/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log*

# Environment variables
.env
.env.*
!env.example

# Misc logs
logs/
*.log

# Coverage
coverage/
*.lcov
.nyc_output/

# Other dependency directories
jspm_packages/
.npm
.node_repl_history
*.tgz
.yarn-integrity
